<div class="container-gallery">
  <app-header></app-header>
  <div class="parallax"></div>
  <div class="filters">
    <button (click)="filterGallery('all')">Tous</button>
    <button (click)="filterGallery('grand')">Grand</button>
    <button (click)="filterGallery('petit')">Petit</button>
    <button (click)="filterGallery('moyen')">Moyen</button>
  </div>
  <div class="gallery">
    <div class="banner">
      <h1>Galerie d'art</h1>
      <p>Explorez des œuvres uniques, inspirées par la créativité sans limites.</p>
    </div>
    <div class="gallery-item" *ngFor="let image of images">
      <a [routerLink]="['/art', image.id]">
        <img [src]="image.url" [alt]="image.title" />
      </a>
      <div class="gallery-item-info">
        <h3>{{ image.title }}</h3>
      </div>
    </div>
  </div>
  <div class="about-section">
    <h2>À propos de l'artiste</h2>
    <p>Bienvenue dans mon univers artistique ! Je suis Canelle, développeuse informatique de métier. </p>
    <p>C'est pendant le confinement que j'ai découvert ma passion pour l'art, un moyen d'explorer mes émotions à travers
      les couleurs et les formes. </p>
    <p>Après être devenue maman, j'ai fait une pause pour me consacrer à mon enfant.
      Aujourd'hui, je reprends avec plaisir la création de mes tableaux,
      c'est devenu plus facile maintenant que mon enfant peut m'aider dans mes créations. </p>
    <p>J'espère que mes œuvres vous plairont autant que j'aime les créer.</p>

  </div>
</div>
